<div class="container">
  <%= image_tag("/images/ghiencham.png") %>
</div>

<style type="text/css">
  .container {
    text-align: center;
  }
  .container img {
    max-width: 100vh;
    width: 100%;
    height: auto;
  }
</style>